/* GLOBAL TAGS */

body {
  background-color: #d9d9d9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: 'Roboto', Arial;
  margin: 0;
  padding: 0;
}

/* HEADER TAGS */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 15vh;
}

.user-image {
  width: 5vw;
}

.logo-image {
  width: 17vw;
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header section {
  padding-left: 5px;
  font-size: 0.9vW;
}

/* NAVIGATION TAGS */


nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.15vw solid black;
  margin: 0.8vh 16vh;
  padding-right: 2vh;
  padding-left: 2vh;
}

nav ul li {
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-family: 'Roboto', Arial;
  font-size: 1vw;
  font-weight: 500;
  opacity: 0.5;
  transition: opacity 0.2s;
}

nav ul li a:hover {
  opacity: 1;
}

nav ul li .active {
  opacity: 1;
}

/* MAIN CONTENT TAGS */

/* FOR LIBRARY AND E-CENTER CONTENT */

#content-library-and-e-center h1 {
  font-size: 8vw;;
}

#content-library-and-e-center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* FOR ABOUT CONTENT */


main section {
  color: black;
  font-family: 'Roboto', Arial;
  font-size: 1.13vw;
  font-weight: 400;
  padding: 3vh 17vh;
}

#content-container #content-about, #content-discovery, #content-divisions, #content-database, #content-central-archive, #content-library-and-e-center {
  display: none;
}

#content-container #content-about {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}

/* FOR DISCOVERY CONTENT */

#content-discovery ul {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: -1vw;
  margin-left: 10.8vw;
}

#content-discovery ul li {
  list-style: none;
  transition: opacity 0.2s;
}

#content-container #content-discovery ul li a{
  opacity: 0.5;
  transition: 0.3s;
}

#content-container #content-discovery ul li :hover{
  opacity: 1;
}

#content-container #content-discovery ul li .active{
  opacity: 1;
}


#content-discovery ul li a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', Arial;
  font-size: 1vw;
  font-weight: 500;
}

#paragraph-bg {
  background-color: white;
  width: 45vw;
  margin-left: 8vw;
  padding: 1.5vw;
  border-radius: 15px;
  display: none;
}

.scroll-div {
  width: 45vw;
  background-color: white;
  height: 55vh;
  overflow: hidden;
  overflow-y: scroll;
}

#paragraph {
  font-family: 'Roboto', Arial;
  font-size: 1.13vw;
  padding: 2vw;
  background-color: rgb(252, 252, 252);
  line-height: 30px;
}

/* FOR THE FOOTER TAGS */

footer li {
  list-style: none;
  position: absolute;
  right: 15px;
  top: 850px;
  padding: 1vh 1.2vw; 
}

footer li a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', Arial;
  font-size: 1.3vw;
  font-weight: 500;
}

footer li a:hover {
  opacity: 0.5;
}